.test {
	display: flex;
}

.main_content {
	background-color: #fff;
}

.shopManage_page {}

.shopManage_page .part1 {
	border: 1px solid #C5D0DE;
	height: 108px;
	position: relative;
}

.shopManage_page .part1 .form-inline {
	padding-left: 10px;
	padding-top: 10px;
}

.shopManage_page .part1 .form-group {
	margin-bottom: 15px !important;
}

.shopManage_page .part1 .cut_line {
	height: 100%;
	position: absolute;
	width: 1px;
	background-color: #C5D0DE;
	left: 85%;
	top: 0;
}

.shopManage_page .part2 {
	padding: 10px;
}

.paginationjs .paginationjs-pages li.active>a {
	background-color: #8093FF;
}

.paginationjs .paginationjs-pages li>a {
	color: #A5A5A5;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:last-child>a {
	padding: 0 10px;
}

.paginationjs .paginationjs-go-button>input[type=button] {
	color: #A5A5A5;
}

.paginationjs .paginationjs-pages li {
	border: 1px solid #ddd;
}

.paginationjs .paginationjs-pages li:last-child {
	border-right: 1px solid #ddd;
}

.suning_table1 {
	border: 1px solid #E4E4E4;
	color: #909097;
	width: 1140px;
	margin: 0 auto;
	font-size: 15px;
}

.suning_table1 td {
	height: 44px;
	text-align: center;
	border-right: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
}

.suning_table1 tr:nth-last-child(1) td {
	border-bottom: none;
}

.suning_table1 tr td:nth-last-child(1) {
	border-right: none;
}

.suning_table1 tr td:nth-child(4n - 3),
.suning_table1 tr td:nth-child(4n - 1) {
	background-color: #F7F7F7;
	width: 153px;
}

.suning_table1 td input {
	width: 338px;
	display: inline-block;
}

.suning_table1 td .address_box {
	position: relative;
	width: 338px;
	display: inline-block;
}

.suning_table1 td .address_box:before {
	display: block;
	content: '';
	width: 1px;
	height: 18px;
	background-color: #CAD3DF;
	position: absolute;
	left: 30px;
	top: 8px;
}

.suning_table1 td .address_box i {
	position: absolute;
	left: 9px;
	top: 9px;
	font-size: 16px;
}

.suning_table1 td .address_box input {
	padding-left: 35px;
}

.map_box {
	background-image: url('../img/3.png');
	background-size: 100% 100%;
	padding: 20px 15px;
}

.map_box .part1 {
	color: #fff;
	margin-bottom: 20px;
}

.map_box .part1 p {
	font-size: 18px;
	margin-left: 20px;
}

.map_box .part1 a {
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 1px solid #038484;
	color: #02FFE0;
	text-align: center;
	line-height: 30px;
}

.map_box .part2 .item {
	width: 19.6%;
	margin-right: 0.5%;
	float: left;
	border: 1px solid #02FFE0;
	padding: 27px 0;
}

.map_box .part2 .item:nth-last-child(1) {
	margin-right: 0;
}

.map_box .part2 .item img {
	display: inline-block;
	width: 38px;
	height: 38px;
}

.map_box .part2 .item .info_box {
	margin-left: 25px;
}

.map_box .part2 .item .info_box .p1 {
	font-size: 18px;
	color: #fff;
}

.map_box .part2 .item .info_box .p2 {
	color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
}

.map_box .part3 {
	height: 770px;
	border: 1px solid #02FFE0;
	margin-top: 10px;
}

.suning_subcontent {
	padding: 25px 0;
}

.tab_list_1 {
	position: relative;
}

.tab_list_1 .tab_item {
	width: 110px;
	height: 60px;
	display: inline-block;
	background-color: #8798C6;
	color: #fff;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
}

.tab_list_1 .tab_item:hover{
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
}

.tab_list_1 .tab_item.active {
	background-color: #6666FF;
}

.tab_list_1 .tab_item p {
	line-height: 30px;
	text-align: center;
}

.group_box{
	border: 1px solid #DFE3E9;
	border-radius: 6px;
	background-color: #fff;
	margin-top: -30px;
	position: relative;
	height: 400px;
	padding: 25px 0;
}