.test {
	display: flex;
}

.main_content {
	background-color: #fff;
}

.shopManage_page {}

.shopManage_page .part1 {
	border: 1px solid #C5D0DE;
	height: 108px;
	position: relative;
}

.shopManage_page .part1 .form-inline {
	padding-left: 10px;
	padding-top: 10px;
}

.shopManage_page .part1 .form-group {
	margin-bottom: 15px !important;
}

.shopManage_page .part1 .cut_line {
	height: 100%;
	position: absolute;
	width: 1px;
	background-color: #C5D0DE;
	left: 85%;
	top: 0;
}

.shopManage_page .part2 {
	padding: 10px;
}

.paginationjs .paginationjs-pages li.active>a {
	background-color: #8093FF;
}

.paginationjs .paginationjs-pages li>a {
	color: #A5A5A5;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:last-child>a {
	padding: 0 10px;
}

.paginationjs .paginationjs-go-button>input[type=button] {
	color: #A5A5A5;
}

.paginationjs .paginationjs-pages li {
	border: 1px solid #ddd;
}

.paginationjs .paginationjs-pages li:last-child {
	border-right: 1px solid #ddd;
}

.suning_table1 {
	border: 1px solid #E4E4E4;
	color: #909097;
	width: 1140px;
	margin: 0 auto;
	font-size: 15px;
}

.suning_table1 td {
	height: 44px;
	text-align: center;
	border-right: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
}

.suning_table1 tr:nth-last-child(1) td {
	border-bottom: none;
}

.suning_table1 tr td:nth-last-child(1) {
	border-right: none;
}

.suning_table1 tr td:nth-child(4n - 3),
.suning_table1 tr td:nth-child(4n - 1) {
	background-color: #F7F7F7;
	width: 153px;
}

.suning_table1 td input {
	width: 338px;
	display: inline-block;
}

.suning_table1 td .address_box {
	position: relative;
	width: 338px;
	display: inline-block;
}

.suning_table1 td .address_box:before {
	display: block;
	content: '';
	width: 1px;
	height: 18px;
	background-color: #CAD3DF;
	position: absolute;
	left: 30px;
	top: 8px;
}

.suning_table1 td .address_box i {
	position: absolute;
	left: 9px;
	top: 9px;
	font-size: 16px;
}

.suning_table1 td .address_box input {
	padding-left: 35px;
}

.map_box {
	background-image: url('../img/3.png');
	background-size: 100% 100%;
	padding: 20px 15px;
}

.map_box .part1 {
	color: #fff;
	margin-bottom: 20px;
}

.map_box .part1 p {
	font-size: 18px;
	margin-left: 20px;
}

.map_box .part1 a {
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 1px solid #038484;
	color: #02FFE0;
	text-align: center;
	line-height: 30px;
}

.map_box .part2 .item {
	width: 19.6%;
	margin-right: 0.5%;
	float: left;
	border: 1px solid #02FFE0;
	padding: 27px 0;
	background-image: url('../img/8.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	cursor: pointer;
}

.map_box .part2 .item:hover,
.map_box .part2 .item.active {
	background-image: url('../img/7.png');
}

.map_box .part2 .item .icon_box {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	line-height: 60px;
	text-align: center;
	background-color: #0A2054;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.map_box .part2 .item .icon_box.red {
	background-color: rgba(251, 15, 108, 0.2);
}

.map_box .part2 .item .icon_box i {
	font-size: 60px;
	color: #4466F4;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.map_box .part2 .item .icon_box.red i {
	color: #FB0F6C;
}

.map_box .part2 .item:hover .icon_box,
.map_box .part2 .item.active .icon_box {
	background-color: #3ECBA6;
	box-shadow: 0 0 5px 0 #041640;
}

.map_box .part2 .item:hover .icon_box i,
.map_box .part2 .item.active .icon_box i {
	color: #fff;
}

.map_box .part2 .item:nth-last-child(1) {
	margin-right: 0;
}

.map_box .part2 .item img {
	display: inline-block;
	width: 38px;
	height: 38px;
}

.map_box .part2 .item .info_box {
	margin-left: 25px;
}

.map_box .part2 .item .info_box .p1 {
	font-size: 18px;
	color: #fff;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.map_box .part2 .item .info_box .p2 {
	color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.map_box .part2 .item:hover .info_box .p1,
.map_box .part2 .item:hover .info_box .p2 {
	color: #041644;
}

.map_box .part3 {
	height: 770px;
	margin-top: 10px;
	background-image: url('../img/9.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 10px;
}

.map_box .part3 .map {
	position: relative;
	width: 100%;
	height: 100%;
}

.suning_subcontent {
	padding: 25px 0;
}

.tab_list_1 {
	position: relative;
}

.tab_list_1 .tab_item {
	width: 110px;
	height: 60px;
	display: inline-block;
	background-color: #8798C6;
	color: #fff;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
}

.tab_list_1 .tab_item:hover {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}

.tab_list_1 .tab_item.active {
	background-color: #6666FF;
}

.tab_list_1 .tab_item p {
	line-height: 30px;
	text-align: center;
}

.group_box {
	border: 1px solid #DFE3E9;
	border-radius: 6px;
	background-color: #fff;
	margin-top: -30px;
	position: relative;
	padding: 25px 0;
}

.preview_header {
	height: 28px;
	width: 100%;
	background-color: #F1F5FD;
	color: #646F8C;
	line-height: 28px;
	text-align: center;
	border-radius: 4px 4px 0 0;
}

.preview_box {
	height: 370px;
	border: 1px solid #DFE3E9;
	padding: 0 30px;
	padding-top: 55px;
}

.preview_text_box {
	position: relative;
}

.preview_text_box:before {
	position: absolute;
	right: 13px;
	bottom: -16px;
	content: '';
	display: block;
	border-top: 19px solid #F1F5FD;
	border-left: 19px solid transparent;
	z-index: 1;
}

.preview_text_box:after {
	position: absolute;
	right: 12px;
	bottom: -18px;
	content: '';
	display: block;
	border-top: 19px solid #DFE3E9;
	border-left: 19px solid transparent;
}

.preview_avatar {
	width: 60px;
	height: 60px;
	border: 1px solid #F1F5FD;
	border-radius: 50%;
	position: relative;
	margin-top: 22px;
	left: 100%;
	transform: translateX(-70%);
	-webkit-transform: translateX(-70%);
	-moz-transform: translateX(-70%);
	-ms-transform: translateX(-70%);
	-o-transform: translateX(-70%);
}

.preview_box .time {
	font-size: 13px;
	margin-bottom: 10px;
}

.form_edit_btn {
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 4px;
	border: 1px solid #C5D0DE;
	text-align: center;
	line-height: 34px;
}

.form_edit_btn i {
	font-size: 24px;
	color: #0052FE;
}

.form_edit_btn.has_bg {
	background-color: #DFE3E9;
	border: none;
}

.form_edit_btn.has_bg i {
	color: #8798C6;
}

.make_avtivity_form {
	width: 700px;
	margin: 0 auto;
}

.btn_clear_yinxiaoriqi {
	color: #8798C6;
	cursor: pointer;
}

.btn_clear_yinxiaoriqi i {
	font-size: 20px;
	margin-right: 5px;
}

.select_time_item {
	background-color: #8093ff;
	color: #fff;
	padding: 0px 11px;
	border-radius: 4px;
	padding-right: 8px;
	margin-right: 3px;
	margin-bottom: 6px;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.delete_select_time {
	cursor: pointer;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: inline-block;
	margin-left: 10px;
	font-size: 16px;
}

.delete_select_time:hover {
	color: #6666FF;
}

.data_marketing_content .part1 {
	line-height: 58px;
	padding-left: 40px;
}

.data_marketing_content .part1 strong {
	color: #000;
	font-size: 15px;
	margin-right: 15px;
}

.data_marketing_list {
	padding: 15px 33px;
}

.data_marketing_list .item {
	float: left;
	height: 139px;
	border: 1px solid #B3B3FF;
	border-radius: 6px;
	width: calc(25% - 15px);
	width: -webkit-calc(25% - 15px);
	width: -moz-calc(25% - 15px);
	width: -ms-calc(25% - 15px);
	width: -o-calc(25% - 15px);
	margin-right: 20px;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.data_marketing_list .item:hover {
	border: 1px solid rgba(177, 190, 255, 0.7);
	box-shadow: 0 0 15px 0 rgba(128, 147, 255, 0.8);
}

.data_marketing_list .item:nth-child(4n) {
	margin-right: 0;
	font-size: 15px;
}

.data_marketing_list .item .p1 {
	color: #8093FF;
	padding-left: 32px;
	margin-top: 18px;
}

.data_marketing_list .item:hover .p1,
.data_marketing_list .item:hover .p2 {
	color: #6666FF;
}

.data_marketing_list .item .p2 {
	font-size: 30px;
	color: #8093FF;
	text-align: center;
}

.data_marketing_list .item .bottom_part {
	height: 35px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #8093FF;
	border-radius: 0 0 6px 6px;
	color: #fff;
	line-height: 35px;
	padding-left: 25px;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.data_marketing_list .item:hover .bottom_part {
	background-color: #6666FF;
}

.data_marketing_list .item .bottom_part .icon {
	display: block;
	width: 18px;
	height: 18px;
	background-color: #fff;
	line-height: 1;
	float: right;
	border-radius: 3px;
	margin-top: 8px;
	margin-right: 25px;
	text-align: center;
	padding-top: 1px;
}

.data_marketing_list .item .bottom_part .icon i {
	color: #8093FF;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.data_marketing_list .item:hover .bottom_part .icon i {
	color: #6666FF;
}

.left_table_box,
.right_table_box {
	box-shadow: 0 0 5px 0 #ddd;
}

.left_table_box:hover,
.right_table_box:hover {
	box-shadow: 0 0 5px 0 rgba(102, 102, 255, 0.5);
}












/*fullcalendar */

#calendar {
	position: relative;
}

#calendar .fc-day>div {
	position: relative;
	max-height: 94px !important;
	min-height: auto !important;
	height: 94px;
	/*overflow: hidden;*/
}

#calendar .fc-day .fc-day-number {
	padding-left: 10px;
}

#calendar .fc-day-content .acitivity_list {
	position: relative;
	height: auto !important;
	background-color: #fff;
}

#calendar .fc-day-content .acitivity_list .event_item:nth-child(2)~.event_item {
	display: none;
}

#calendar .fc-day-content .acitivity_list.see_all {
	z-index: 15;
}

#calendar .fc-day-content .acitivity_list.see_all .event_item:nth-child(2)~.event_item {
	display: block;
}

#calendar .fc-day-content .event_item {
	margin-bottom: 6px;
	height: 20px !important;
}

#calendar .fc-day-content .event_item .event_item_inner {
	height: 20px;
	background-color: #FDEDD3;
	border: 1px solid #FAD597;
	border-left: 3px solid #F5A623;
	display: inline-block;
	padding: 0 20px;
	font-size: 13px;
	position: relative;
}

#calendar .fc-day-content .event_item.hot .event_item_inner {
	background-color: #FDD7E8;
	border: 1px solid #F8B1CF;
	border-left: 3px solid #FF016C;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box {
	position: absolute;
	left: 100%;
	top: -7px;
	width: 338px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 0 10px 0 #ddd;
	z-index: 10;
	display: none;
}
#calendar tr td:nth-last-child(1) .fc-day-content .event_item .event_item_inner .event_pop_box,
#calendar tr td:nth-last-child(2) .fc-day-content .event_item .event_item_inner .event_pop_box {
	left: 0;
	top: -7px;
	transform: translateX(-101%);
	-webkit-transform: translateX(-101%);
	-moz-transform: translateX(-101%);
	-ms-transform: translateX(-101%);
	-o-transform: translateX(-101%);
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part1 {
	line-height: 58px;
	font-size: 18px;
	padding-left: 30px;
	border-bottom: 1px solid #EEF1F7;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part1 .dot {
	position: absolute;
	width: 5px;
	height: 45px;
	background-color: #F5A623;
	left: 0;
	top: 6px;
}

#calendar .fc-day-content .event_item.hot .event_item_inner .event_pop_box>.part1 .dot {
	position: absolute;
	width: 5px;
	height: 45px;
	background-color: #FF006C;
	left: 0;
	top: 6px;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part1 i {
	font-size: 25px;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part1 .popup_close {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part2 {
	padding: 15px 30px;
	padding-bottom: 70px;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part2 .list1 .item {
	padding: 12px 25px;
	box-shadow: 0 0 5px 0 #ddd;
	border-radius: 4px;
	float: left;
	font-size: 14px;
	color: #6666FF;
	line-height: 1;
	margin-right: 15px;
	margin-bottom: 15px;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part2 .list2 .item {
	padding: 8px 18px;
	background-color: #F1F5FD;
	border: 1px solid #EEF1F7;
	border-radius: 4px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	line-height: 1;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part2 .go_setting {
	display: block;
	width: 132px;
	height: 40px;
	border-radius: 4px 0 0 0;
	background-color: #6666FF;
	color: #fff;
	line-height: 40px;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 15px;
}

#calendar .fc-day-content .event_item .event_item_inner .event_pop_box>.part2 .go_setting i {
	font-size: 23px;
	vertical-align: middle;
}

#calendar .fc-day-content .see_more {
	font-size: 10px;
	position: absolute;
	top: 71px;
	z-index: 11;
	padding-left: 5px;
	cursor: pointer;
}

#calendar .fc-header-center,
#calendar .fc-header-right {
	display: none;
}

#calendar .fc-header-left {
	height: 47px;
	background-color: #6666FF !important;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	border: none !important;
}

#calendar .fc-header-left h2 {
	font-size: 20px !important;
	font-weight: normal;
}

#calendar .month_pre {
	position: absolute;
	left: 40%;
	color: #020F96;
	top: 9px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

#calendar .month_next {
	position: absolute;
	right: 40%;
	color: #020F96;
	top: 9px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

#calendar .fc-other-month{
	background-color: #EEF0F8 !important;
}