/*button*/

.common_btn {
	padding: 5px 25px;
	border-radius: 4px;
	background-color: #6666FF;
	color: #fff;
	font-size: 15px;
}

.common_btn.small {
	padding: 3px 10px;
	font-size: 11px;
}

.common_btn.upload {
	padding: 10px 150px;
	background-color: #8093FF;
}

.common_btn.commit {
	width: 160px;
	height: 40px;
	color: #fff;
	background-color: #8093FF;
	border-radius: 4px;
}

.common_btn.submit {
	width: 160px;
	height: 40px;
	color: #fff;
	border-radius: 4px;
	background-color: #6666FF;
}

.common_btn.cancel {
	width: 160px;
	height: 40px;
	color: #8093FF;
	border-radius: 4px;
	border: 1px solid #8093FF;
	background-color: transparent;
}

.common_btn.cancel.small {
	width: 90px;
	height: 30px;
	padding: 5px;
	line-height: 1;
}

.upload_btn {
	position: relative;
	width: 94px;
	height: 34px;
	background-color: #8093FF;
	text-align: center;
	line-height: 34px;
	border-radius: 6px;
	color: #fff;
}

.upload_btn input[type='file'] {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}




.form-group label {
	font-weight: normal;
	color: #4E5D73;
}





















/*checkbox*/

.checkbox {
	position: relative;
	display: inline-block;
}

.checkbox label {
	position: relative;
	padding-left: 0;
}

.checkbox input[type='checkbox'] {
	display: block;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	left: -1000px;
	position: absolute !important;
}

.checkbox input[type='checkbox']+span {
	position: relative;
	margin-right: 5px;
}

.checkbox input[type='checkbox']+span>i {
	font-size: 18px;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.checkbox input[type='checkbox']+span>.fa-square-o {
	position: absolute;
	left: 0;
	top: 1px;
	font-size: 19px;
	color: #C0C0C0;
}

.checkbox input[type='checkbox']+span>.fa-check-square {
	color: #8093FF;
}

.checkbox input[type='checkbox']+span>.fa-square-o,
.checkbox input[type='checkbox']:checked+span>.fa-check-square {
	opacity: 1;
	visibility: visible;
}

.checkbox input[type='checkbox']+span>.fa-check-square,
.checkbox input[type='checkbox']:checked+span>.fa-square-o {
	opacity: 0;
	visibility: hidden;
}











/*radio*/

.radio {
	position: relative;
	display: inline-block;
}

.radio label {
	position: relative;
	padding-left: 0;
}

.radio input[type='radio'] {
	display: block;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	left: -1000px;
	position: absolute !important;
}

.radio input[type='radio']+span {
	position: relative;
	margin-right: 5px;
	float: left;
	line-height: 1;
}

.radio input[type='radio']+span>i {
	font-size: 18px;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}

.radio input[type='radio']+span>.icon-gouxuan {
	position: absolute;
	left: 0;
	top: 0px;
	font-size: 19px;
	color: #C0C0C0;
}

.radio input[type='radio']+span>.icon-gou {
	color: #8093FF;
	font-size: 19px;
	margin-top: 2px;
}

.radio input[type='radio']+span>.icon-gouxuan,
.radio input[type='radio']:checked+span>.icon-gou {
	opacity: 1;
	visibility: visible;
}

.radio input[type='radio']+span>.icon-gou,
.radio input[type='radio']:checked+span>.icon-gouxuan {
	opacity: 0;
	visibility: hidden;
}










/*form-group*/

.require_dot {
	color: #FF5D64;
	font-size: 18px;
	vertical-align: top;
}



















/*select*/

.select {
	padding-top: 2px;
	display: inline-block;
	vertical-align: middle;
}

.select select {
	height: 32px;
	border: 1px solid #CAD3DF;
	border-radius: 4px;
	width: 100%;
}














/*table top*/

.table_top_area {

	padding: 0 30px;
}

.table_top_area .info {
	float: left;
	color: #35435D;
	font-size: 15px;
	margin-top: 5px;
}

.table_top_area .info span {
	color: #6666FF;
	margin: 0 3px;
}

.table_top_area .btn_box button {
	padding: 5px 12px;
	color: #6666FF;
	background-color: transparent;
	border: 1px solid #C5D0DE;
	border-radius: 4px;
	margin-left: 5px;
}

.table_top_area .btn_box button i {
	font-size: 18px;
	margin-right: 3px;
}















/*table*/

.suning_table {
	width: 100%;
	border: 1px solid #F2F2F2;
}

.suning_table thead th {
	height: 49px;
	background-color: #F1F5FE;
	color: #4E5C6E;
	border-right: 1px solid #F2F2F2;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	font-weight: normal;
}

.suning_table thead th:last-child {
	border-right: none;
}

.suning_table tbody td {
	border-right: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	text-align: center;
	vertical-align: middle;
	height: 49px;
	font-size: 14px;
}

.suning_table tbody tr:last-child {
	border-bottom: none;
}

.suning_table tbody tr td:last-child {
	border-right: none;
}

.suning_table tbody .btn_setting {
	font-size: 18px;
	color: #6666FF;
	cursor: pointer;
}

.suning_table tbody tr:hover td {
	background-color: #F8FAFB;
}














/*table bottom*/

.table_bottom_area {
	margin-top: 20px;
}










/*subtitle*/

.suning_subtitle {
	height: 40px;
	border: 2px solid #E2E8EF;
	line-height: 36px;
	color: #515D7D;
	padding-left: 49px;
	font-size: 15px;
}








/*tooltip*/

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #8093FF;
}

.tooltip-inner {
	background-color: #8093FF;
	color: #fff;
	padding: 9px 25px;
}






/*下拉框*/

.dropdown-menu {
	width: 100%;
}

.dropdown-menu.datetimepicker,
.dropdown-menu.daterangepicker {
	width: auto;
}

.caret {
	border-top: 6px dashed #8093FF;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.btn .caret {
	margin-left: 15px;
}





/*modal*/

.modal .modal-dialog {
	/*	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-65%) !important;
	-webkit-transform: translateX(-50%) translateY(-65%) !important;
	-ms-transform: translateX(-50%) translateY(-65%) !important;
	-moz-transform: translateX(-50%) translateY(-65%) !important;
	-o-transform: translateX(-50%) translateY(-65%) !important;*/
}

.modal-header {
	background-color: #8093FF;
	color: #fff;
}

.modal-header .close {
	color: #fff;
	opacity: 1;
}

.modal-body {
	padding: 32px 42px;
	padding-bottom: 0;
}

.modal-footer {
	padding: 25px;
	border-top: none;
}

.form-group .form-control-icon {
	position: absolute;
	left: 25px;
	top: 7px;
}

.form-group .form-control-icon+input{
	padding-left: 31px;
}
